@page
@using myDBApp.Models
@model myDBApp.Pages.enrollmentsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Enrollments";
}
<head>
    <link rel="stylesheet" href="~/css/styles/enrollment/enrollment.css" asp-append-version="true" />
</head>
<body>
    <div class="container_div">
        <div class="header-div">
            <h1 class="header">Enrollment List</h1>
        </div>
        <div class="form_div">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div id="addNotification" style="display: none;">@ViewData["addNotification"]</div>
            <div id="deleteNotification" style="display: none;">@ViewData["deleteNotification"]</div>

             <form id="addRowForm" method="post">
                <input type="hidden" id="hiddenStudentId" name="studentID">
                <input type="number" id="studentId" name="newEnrollment.studentId" placeholder="Student ID" required>
                <input type="hidden" id="hiddenCourseId" name="courseID">
                <input type="number" id="courseId" name="newEnrollment.courseId" placeholder="Course ID">
                 <input type="text" id="col1" name="newEnrollment.grade" placeholder="Grade" required> 
                 <button type="submit" id="submitButton" name="action" value="add">Add a Student</button>
            </form> 
        </div>
        <div class="table_div">
            <table id="enrollmentsTable">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Course ID</th>
                        <th>Grade</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MyEnrollment enrollment in Model.EnrollmentList)
                    {
                        <tr>
                            <td>@enrollment.studentId</td>
                            <td>@enrollment.courseId</td>
                            <td>@enrollment.grade.</td>
                            <td>
                                <form method="post" style="display:inline-block;">
                                    <input type="hidden" name="studentID" value="@enrollment.studentId">
                                    <input type="hidden" name="courseID" value="@enrollment.courseId">
                                    <input type="hidden" name="grade" value="@enrollment.grade)">
                                    <button type="button" onclick="editRow(this, '@enrollment.studentId', '@enrollment.courseId', '@enrollment.grade')">Edit</button>
                                </form>
                                <form id="deleteRowForm" method="post" style="display:inline-block;">
                                    <input type="hidden" id="confirmDelete" name="confirmDelete" value="no">
                                    <input type="hidden" name="studentId" value="@enrollment.studentId">
                                    <input type="hidden" name="coursedId" value="@enrollment.courseId">
                                    <button type="submit" id="deleteButton" name="action" value="delete" onclick="deleteRow()">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let isEditing = false;
        let currentRow = null;
        //let modification=false;

        document.getElementById('addRowForm').addEventListener('submit', function(event) {
            if (isEditing) {
                document.getElementById('submitButton').value = 'edit';
            } else {
                document.getElementById('submitButton').value = 'add';
            }
        });

        // Function to edit a row
        function editRow(button, studentId, courseId, grade) 
        {
            const row = button.closest('tr');
            document.getElementById('hiddenStudentId').value = studentId;
            document.getElementById('hiddenCourseId').value =courseId;
            document.getElementById('studentId').value = studentId;
            document.getElementById('courseId').value = courseId;
            document.getElementById('col1').value = grade;

            isEditing = true;
            currentRow = row;
            document.getElementById('submitButton').innerText = 'Update Student';
        }
    </script>
</body>
